export DJANGO_SECRET_KEY=
export DJANGO_SETTINGS_MODULE=noc.settings.local
export MYSQL_HOST=localhost
export MYSQL_USER=root
export MYSQL_PASSWORD=
export MYSQL_DATABASE_NAME=
export ALCHEMY_API_KEY=